/*
page-comentario {
}*/

.formButton{
    position: static;
    bottom: 100px;
}

.comentAling{
    position: relative;
    background-color: #eceff1;
    border-radius: 7px;
    padding: 3px;
    margin-top: 3px;
}

.full-width{
    width: 100%;
}